<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966196182204-pq6ndflam0tbr67ppvu13nhf068en62v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966196182204-pq6ndflam0tbr67ppvu13nhf068en62v</string>
	<key>API_KEY</key>
	<string>AIzaSyDuSFnHfkyy94fxqWUzpCF_HeLP51ckoyM</string>
	<key>GCM_SENDER_ID</key>
	<string>966196182204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kostiar.news</string>
	<key>PROJECT_ID</key>
	<string>news-prod-1</string>
	<key>STORAGE_BUCKET</key>
	<string>news-prod-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966196182204:ios:bf65fa2b6238d7f9e2e4b9</string>
</dict>
</plist>